<div class="backImg" style="height: 100vh;">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <a href="<%= new_case_path %>" class="col-sm-4 col-sm-offset-1 block">
        <span>案例输入</span>
      </a>
      <a href="<%= cases_path %>" class="col-sm-4 col-sm-offset-2 block">
        案例检索
      </a>
      <a href="<%= three_fwp_index_path %>" class="col-sm-4 col-sm-offset-1 block">
        灾害推演仿真
      </a>
      <a href="<%= case_results_path %>" class="col-sm-4 col-sm-offset-2 block">
        数据存储
      </a>
    </div>
  </div>
</div>
