@import "bootstrap-sprockets";
@import "bootstrap";

#fileOutput {
  border:1px grey solid;
  width: 500px;
}
.hidden {
  display: none;
}
.show {
  display: block;
}
.backImg {
  background: image-url("main.jpeg");
  background-color: #eeeeee;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  width: 100vw;
}
.block {
  width: 100%;
  height: 200px;
  background: white;
  text-align: center;
  line-height: 200px;
  background: #d9edf775;
  margin-top: 50px;
  font-size: 25px;
  color: #12394c;
  -webkit-box-shadow: 6px 6px 12px #666;
  -moz-box-shadow: 6px 6px 12px #666;
  box-shadow: 6px 6px 12px #666;
}
.block a {
  text-decoration:none;
}
.block a:hover {
  text-decoration:none;
}
.colLeft {
  width: 33.33333%;
  margin-left: 10%;
  float: left;
}
.colRight {
  width: 33.33333%;
  margin-left: 20%;
  float: left;
}
.midButton {
  text-align: center;
  margin: 10px 0;
}
.indexTitle {
  text-align: center;
  // border: 1px solid #31708f;
  margin-top: 20px;
  // background: #eeeeee;
  color: #333;
  padding: 20px 0;
  font-size: 40px;
  font-weight: bold;
}
.block2 {
  display: block;
  padding: 40px 50px;
  background: image-url("button.jpeg");
  width: 80%;
  text-align: center;
  margin: 50px auto;
  color: #12394c;
  -webkit-box-shadow: 6px 6px 12px #666;
  -moz-box-shadow: 6px 6px 12px #666;
  box-shadow: 6px 6px 12px #666;
}
.block2 span {
  color: rgb(24, 2, 2);
  font-size: 30px;
}
.img {
  display:-webkit-box;
	display:-ms-flexbox;
	display:flex-box;
	display:flex;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	-webkit-box-pack:center;
	-ms-flex-pack:center;
	justify-content:center;
	text-align:center;
}