<nav class="navbar navbar-default" role="navigation" style="margin-bottom: 0;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="<%= root_path %>" style="font-size: 22px;font-weight: bold;">城市地下综合管廊地震事故灾害演化仿真模拟软件</a>
    </div>
    <div>
      <ul class="nav navbar-nav" style="float: right;">
        <li><a href="<%= five_fwp_index_path %>">联系我们</a></li>
      </ul>
    </div>
  </div>
</nav>